body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    max-width: 1264px;
    width: 50%;
    background: none;
    justify-content: space-between;
    margin: 0 auto;
}
.button-bar{
    padding: 10px;

}
.bottom-bar{
    width: 100%;
}

#box{
    width: 80%;
    height: 20%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#i_dont_know{
    display: none;

}
#i_know{
    display: none;
}
#i_know {
    padding-left: 37px;
}
#show_answer{
    clear:both;
}
#popUpBox{
    width: 400px;
    height: 500px;
    overflow: hidden;
    background: #1b2d3e;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 10px;
    text-align: center;
    display: none;
}
#popUpOverlay{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
form{
    max-width: 100%;
}
form input[type]{
    margin-bottom: 0px;
}
html {
    color: black;
}

table {
    border: none;
    text-align: center;
    background: none;
    display: inline;
}

table th, table td {
    width: 10%;

    text-decoration: none;
}

.black-a {
    text-decoration: none;
    color: black;
}

.black-a:visited {
    text-decoration: none;
    color: black;
}

.black-a:hover, a:active {
    color: #99c0c9;
}

.black-a:hover {
    color: #99c0c9;
}

.white-a {
    text-decoration: none;
    color: black;
}

.white-a:visited {
    text-decoration: none;
    color: #99c0c9;
}

.white-a:hover, a:active {
    color: #99c0c9;
}

.white-a:hover {
    color: #99c0c9;
}

.white-a[disabled] {
    color: #99c0c9;
    cursor: not-allowed;
}

.row {
    padding: 7px;
    display: inline-flex;
}

.menu {
    width: 100%;
}

img {
    height: 25px;
    width: 25px;
}

.btn {
    border: #1b2d3e;
    background: #1b2d3e;
    width: 100%;
    height: 100%;
}

.btn:hover {
    border: #1b2d3e;
}

.btn:not([disabled]):hover {
    border: none;
}

.btn:active {
    background-color: #1b2d3e;
}

#sentence {
    color: #99c0c9;
    font-size: 2rem;
}

.button_float {
    float: left;
    width: 37%;
}

.clear {
    clear: both;
}

.alert {
    color: red;
}

.mixed_container {

}

#update_form {
    display: none;
}

.float {
    display: inline-flex;
}

.cont {
    vertical-align: center;
}
.raw_button {
    background: #1b2d3e;
    border: none;
}
.raw_button:hover {
    border: none !important;
}

.raw_button:active {
    border: none !important;
    background-color: #1b2d3e;
}
.raw_button:focus {
    border: none !important;
}
