<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link href="/awsm_theme_big-stone.css" rel="stylesheet">
    <link rel="stylesheet" href="/flashcards.css">
</head>
<body>
<header>
</header>
<section>
    <div class="container">
        <table>
            <h2 th:text="${lesson_name}"></h2>
            <th>English</th>
            <th>Polish</th>
            <th>Description</th>
            <th>Delete</th>
            <tr th:each="flashcard: ${lesson_list}">
                <td class="flashcard-name" th:text="${flashcard.getEnglish}"></td>
                <td th:text="${flashcard.getPolish}"></td>
                <td th:text="${flashcard.getDescription()}"></td>
                <td><a th:onclick="'javascript:disable_delete_button(' + ${flashcard.getId()} + ');'" th:href="${'delete_flashcard/'+ flashcard.getId()}" th:id="${'delete_button_' + flashcard.getId()}"><img src="/icons/delete.png"></a></td>

            </tr>
        </table>
        <div>
            <form action="#" th:object="${flashcard}" method="post" th:action="'add_flashcard'">
                <label>Enter new Flashcard:</label>
                <table class="new_flashcard_table">
                    <tr>
                        <td><input name="english" type="text" th:field="*{english}" value="" placeholder="english"></td>
                        <td><input name="polish" type="text" th:field="*{polish}" value="" placeholder="polish"></td>
                        <td><input name="description" type="text" value="" placeholder="description"></td>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </table>
                <div th:if="${#fields.hasErrors('english')}">errors1</div>
                <div th:if="${#fields.hasErrors('polish')}">errors2</div>

            </form>
        </div>
        <div class="menu">
            <div class="row">
                <button><a class="white-button" href="/lessons">Lessons</a></button>
            </div>
            <div class="row">
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="menu">
                        <label class="file-upload-label">Add from file
                            <input class="flex-content" type="file" name="file" id="file"  accept=".csv,.txt" onchange="form.submit()">
                        </label>
                    </div>
                </form>
                <!--                <button><a class="white-button" href="/lessons">Add from file</a></button>-->
            </div>
        </div>
        <div>
            <p th:text="${message}" th:if="${message ne null}" class="alert "></p>
        </div>

    </div>
</section>

<footer>
</footer>
</body>
</html>