<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--        <script src="https://kit.fontawesome.com/a71707a89a.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="./style.css"/>

    <title>Popup Box</title>
</head>
<body>
<div id="popUpOverlay"></div>
<div id="popUpBox">
    <div id="box">
        <!--        <i class="fas fa-check-circle fa-5x"></i>-->
        <div class = bottom-bar>
            <h1>End lesson</h1>
            <div class="button-bar">
                <div id="i_know"></div>
                <div id="i_dont_know"></div>
                <div id="exit"></div>
            </div>
        </div>

    </div>
</div>
<button onclick="alert.render()" class="btn">Show Alert</button>
<script src="./app.js"></script>
</body>
</html>