<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link href="/awsm_theme_big-stone.css" rel="stylesheet">
    <link rel="stylesheet" href="/lessons.css">
    <script th:inline="javascript">const lessons = /*[[${lessonsList}]]*/ null;</script>
    <script rel="stylesheet" src="/app.js"></script>
    <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
</head>
<body>
<header>
</header>
<section>
    <div class="container">
        <table>
            <h2>My lessons</h2>
            <th>Name</th>
            <th>Flashcards</th>
            <th>Used days ago</th>
            <th>Study</th>
            <th>Edit</th>
            <th>Delete</th>
            <tr th:each="current_lesson: ${lessonsList}">
                <td class="flashcard-name"><a class="black-a" th:text="${current_lesson.getName()}"
                                              th:href="${'flashcards/'+ current_lesson.getId()}"></a></td>
                <td th:text="${current_lesson.getFlashcards.size()}"></td>
                <td th:text="${current_lesson.getDaysAgo()}"></td>
                <td>
                    <button th:onclick="'javascript:render(' + ${current_lesson.getId()} + ');'" class="btn"><img
                            height="200%" src="/icons/brain.png"></button>
                </td>
                <td><a th:href="${'flashcards/'+ current_lesson.getId()}"><img
                        src="/icons/edit-pencil.png"></a></td>
                <td><a th:onclick="'javascript:disable_delete_button_l(' + ${current_lesson.getId()} + ');'"
                       th:id="${'delete_button_l_' + current_lesson.getId()}"
                       th:href="${'delete_lesson/'+ current_lesson.getId()}" id="${current_lesson.getId()}"><img
                        src="/icons/delete.png"></a></td>
            </tr>
        </table>
        <div class="menu">
            <div class="row">
                <button onclick="render(0)">Study now all</button>
            </div>
            <div class="row">
                <button><a class="white-a" href="/lessons">Add from file</a></button>
            </div>
        </div>
        <div>
            <form action="#" th:action="@{add_lesson}" method="post" th:object="${lesson}" class="form">
                <div class="mixed_container">
                    <div class="row">
                        <div><input type="text" th:field="*{name}" id="name" placeholder="New... "></div>
                        <div><input type="submit" value="Add lesson"></div>
                    </div>
                    <div class="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
            </form>
        </div>
    </div>
    <div id="popUpOverlay">
        <div id="popUpBox">
            <div id="box">

                <div class="cont">
                    <div class="float" id="startSpeakTextAsyncDiv"></div>
                    <div class="float" id="sentence">sentence</div>
                </div>

                <div class=bottom-bar>
                    <div class="button-bar">
                        <div>
                            <div id="next_round"></div>
                        </div>
                        <div>
                            <div class="button_float" id="i_know"></div>
                            <div class="button_float" id="i_dont_know"></div>
                        </div>
                        <div class="clear"></div>

                        <div id="show_answer"></div>
                    </div>
                    <div class="row " id="exit"></div>
                </div>
            </div>
        </div>

        <form action="#" id="update_form" th:action="@{update_last_use}" method="post">
            <input th:name="lesson_id" type="text" id="form_input_lesson_id">
        </form>

    </div>

</section>
<footer>
</footer>

</body>
</html>